
:root {
  --text-main: #000000;
  --text-secondary: #666666;
  --text-tertiary: #999999;

  --bg-main: #ffffff;
  --bg-secondary: #fafafa;
  --bg-tertiary: #f5f5f5;

  --border-main: #000000;
  --border-secondary: #666666;
  --border-tertiary: #999999;

  --color-success: #4caf50;
  --color-error: #f44336;
  --color-warning: #ff9800;
  --color-info: #2196f3;

  --box-color: #f8f9fa;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button{
  border: none;
  outline: none;
}

.banner {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  color: var(--text-main);
  font-family: 'Courier New', Courier, monospace;
  user-select: none;
  cursor: pointer;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

* {
  box-sizing: border-box;
}

@media(min-width: 680px){
  .banner {
    font-size: 2rem;
  }
}