.container{
  
}

.headerContainer {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--border-tertiary);
}

.loginSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.signup{
  font-size: 1rem;
  background: none;
  border: 1px solid var(--color-success);
  color: var(--color-success);
  padding: 0.25rem 0.5rem;
  margin: 0px 0.25rem;
}

.signup:active{
  background: var(--color-success);
  color: var(--bg-main);
}

.login{
  font-size: 1rem;
  background: var(--color-success);
  border: 1px solid var(--color-success);
  color: var(--bg-main);
  padding: 0.25rem 0.5rem;
  margin: 0px 0.25rem;
}

.login:active{
  background: var(--bg-main);
  color: var(--color-success);
}

.contentContainer{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vectorContainer{
  display: flex;
  flex-direction: column-reverse;
}

.vectorText{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lsnText {
  font-size: 2.9rem;
  font-weight: 700;
  color: var(--text-main);
  text-align: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.featureList{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
}

.feature{
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: 0.5rem;
}

.featureText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

@media(min-width: 680px){
  .vectorContainer{
    flex-direction: row;
  }

  .lsnText{
    font-size: 3.5rem;
  }

  .featureList{
    flex-direction: row;
    justify-content: space-around;
  }

}